body,
* {
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #fef5ed;
}
.content button {
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  width: 9vw;
  height: 6vh;
  text-align: center;
  transition: 0.2s ease-in-out;
  font-size: 1.2em;
  margin-top: 2%;
}
.content button:hover {
  background-color: white;
  color: black;
}
.dogImg {
  margin-top: 2%;
  width: 25%;
  height: auto;
}
